<div class="container-fluid full">
  <div class="hero-text">
    <h1>Mans Best Wingman</h1>
    <button>
      <%= link_to 'Find your new best mate', dogs_path, class:"btn btn-light" %>
    </button>
  </div>
</div>


